    {% extends "layout.html" %}

    {% block content %}

    {% include "header.html" %}

    <div class="add-favorite-parking-header">
        <h1 class="header">
            Add Favorite Parking
        </h1>
    </div>
    <div class="parking-location-container">
        <h2 class="label-header">
            Parking Location
        </h2>
        <input type="text" name="course-text" id="course-text"/>
    </div>

        <select id="label-list">
            {% for building in buildingData %}
            <option class="building-location" value="{{ building[1] }}">{{ building[1] }}

            </option>
            {% endfor %}
        </select>
        <div class="submit-favorite">
            <button onclick="addFavorite()">Add Favorite</button>
        </div>
    </div>
    <script>
        function addFavorite() {
            var course=document.getElementById("favorite-text").value;
            var location=document.getElementById("label-list").value;
            $.ajax({
                type: "POST",
                url: "/add-favorites",
                data: { "favorite": fav, "location": location }, 
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function(data) {
                    console.log('successfully posted data! response body: ' + data);
                }
            });
        }
    </script>

    {% include "footer.html" %}

    {% endblock %}
