{% extends "layout.html" %}

{% block content %}

{% include "header.html" %}

<div class="add-favorites-header">
    <h1 class="header">
        Add Favorite Parking
    </h1>
</div>
<div class="parking-container">
    <h2 class="label-header">
        Parking Location
    </h2>
    <ul class="favorites-list">
        {% for location in parkingLocations %}
        <li class="favorite-item">
            {{ location[4] }} 
            <button onclick="addFavorite('{{ location[4] }}')" class="add-favorite-btn">
                <i class="fa-sharp fa-solid fa-plus"></i>
            </button>
        </li>
        {% endfor %}
    </ul>

</div>

<script>
    function addFavorite(favoriteName) {
    
        console.log("Add favorite with Name:", favoriteName);
        $.ajax({
                type: "POST",
                url: "/favorites",
                data: { "favorite": favoriteName  }, 
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function(data) {
                    console.log('successfully posted data! response body: ' + data);
                    updateFavoritesList(favoriteName);
                    updateSessionStorage(favoriteName);
                }
            });
        
    }

    function updateFavoritesList(favoriteName) {
    var ul = document.querySelector('.favorites-list');
    var li = document.createElement('li');
    li.className = 'favorite-item';
    li.textContent = favoriteName;
    ul.appendChild(li);
    }

function updateSessionStorage(favoriteName) {
    var favorites = JSON.parse(sessionStorage.getItem('favorites') || '[]');
    favorites.push(favoriteName);
    sessionStorage.setItem('favorites', JSON.stringify(favorites));
}

function loadFavoritesFromSession() {
    var favorites = JSON.parse(sessionStorage.getItem('favorites') || '[]');
    favorites.forEach(favoriteName => {
        updateFavoritesList(favoriteName);
    });
}
    </script>

{% include "footer.html" %}

{% endblock %}
