{% extends "layout.html" %}

{% block content %}

{% include "header.html" %}

<div class="container">
    <h1>Parking Locations and Capacities</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            {% for location in alertData %}
            <tr>
                <td>{{ location[1] }}</td>
                <td>{{ location[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "footer.html" %}

<script>
    function goHome() {
        window.location.href="/home";
    }
</script>

{% endblock %}
