<footer class="ezpark-footer">
    <div class="ezpark-footer-buttons">
        {% if backDisplay %}
        <button class="back" onclick="goHome()">Back</button>
        {% endif %}
        {% if aboutDisplay %}
        <button class="about" onclick="goAbout()">About</button>
        {% endif %}
        {% if not logDisplay %}
        <button class="logout" onclick="signOut()">Logout</button>
        {% endif %}
    </div>
</footer>
<script>
    function signOut() {
        window.location.href="/login";
    }
    function goHome() {
        window.location.href="/home";
    }
    function goAbout() {
        window.location.href="/about";
    }
</script>