{% extends "layout.html" %}

{% block content %}
<div class="home-page-div">
    <div class="home-btn-container">
        <div class="map-btn">
            <a href="/map">Interactive Map</a>
        </div>
        <div class="fav-btn">
            <a href="/add-favorites">Favorites</a>
        </div>
        <div class="class-btn">
            <a href="/add-classes">Classes</a>
        </div>
        <div class="alert-btn">
            <a href="/alerts">Alerts</a>
        </div>
    </div>
</div>

{% include "footer.html" %}

{% endblock %}