{% extends "layout.html" %}

{% block content %}

{% include "header.html" %}

<div class="home-page-div">
    <div class="home-btn-container">
        <div class="map-btn">
            <a href="/map">Interactive Map</a>
        </div>
        <div class="fav-btn">
            <a href="/favorites">Favorites</a>
        </div>
        <div class="class-btn">
            <a href="/classes">Classes</a>
        </div>
        <div class="alert-btn">
            <a href="/alerts">Alerts</a>
        </div>
    </div>
    <div class="feedback-btn">
        <p><a href="/feedback">Feedback</a></p>
    </div>
</div>

{% include "footer.html" %}

{% endblock %}