{% extends "layout.html" %}

{% block content %}

{% include "header.html" %}

<div class="route-selection-container">
    <div class="route-class-container">
        <label for="class-selector">Class destination</label>
        <select id="class-selector">
            <option class="course-option" value="" selected></option>
            {% for course in classData %}
                {% if course[4] != "": %}
                <option class="course-option" value="{{ course[7] }}">{{ course[4] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="travel-mode-container">
        <label for="travel-mode-selector">Method of travel</label>
        <select id="travel-mode-selector">
            <option class="mode-option" value="" value="" selected></option>
            <option class="mode-option" value="DRIVING">Driving</option>
            <option class="mode-option" value="WALKING">Walking</option>
            <option class="mode-option" value="BICYCLING">Bicycling</option>
            <option class="mode-option" value="TRANSIT">Transit</option>
        </select>
    </div>
    <div class="calculation-container">
        <p>Best Route: <span id="best-route"></span></p>
        <p>Duration: <span id="duration"></span></p>
    </div>
    <select id="hidden-lot-select">
        {% for lot in parkingData %}
            <option class="lot-option" value="{{ lot[1] }}">{{ lot[0] }}</option>
        {% endfor %}
    </select>
</div>

<div id="google-map-container">
</div>

<!-- <div class="parking-container">
    <ul class="parking-decks-container">
        {% for deck in deckData %}
        <li class="parking-deck"><span class="name">{{ deck.name }}</span> 
            {% if deck.percent_number is gt 20  %}
            <span class="percent regular">{{ deck.percent }}</span>
            {% else %}
            <span class="percent alert">{{ deck.percent }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div> -->


<script>    

    let routes = [];
    let map;
    const lotLocations = document.getElementById("hidden-lot-select").options;

    function calculateRoute(directionsService, directionsRenderer, position) {
        var orig;
        let courseLocation =  document.getElementById("class-selector").value;
        let lotLocations = document.getElementById("hidden-lot-select").options;
        let mode = document.getElementById("travel-mode-selector").value;

        if (position != null && mode != "DRIVING") {
            orig = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(orig);
            directionsRenderer.setMap(map);
        }

        if (courseLocation && mode) {
            for (var i = 0; i < lotLocations.length; i++) {
                let selectValue = lotLocations[i].value;
                 if (mode == "DRIVING") {
                    orig = {
                        query: selectValue
                    }
                }
                var route = {
                    origin: orig,
                    destination: {
                        query: courseLocation
                    },
                    travelMode: mode
                };

                directionsService.route(route, (response, status) => {
                    if (status == "OK") {
                        let directionsData = response.routes[0].legs[0];
                        if (directionsData) {
                            if (directionsData.distance.text.includes("ft")){
                                let conversion = parseInt(directionsData.distance.text.replace("ft", ""));
                                conversion = parseFloat(conversion / 5280).toFixed(2);
                                routes.push({
                                    routeData: response, 
                                    distance: conversion, 
                                    initial_value: route
                                });
                            } else {
                                routes.push({
                                    routeData: response, 
                                    distance: parseFloat(directionsData.distance.text.replace("mi", "")).toFixed(2), 
                                    initial_value: route
                                });
                            }                            
                        }
                    }               
                });
            };

            if (routes != 0) {
                let shortestRoute = routes.reduce((prev, curr) => {
                    return parseInt(prev.distance) < parseInt(curr.distance) ? prev : curr;
                });
                directionsRenderer.setDirections(shortestRoute.routeData);
                let legData = shortestRoute.routeData.routes[0].legs[0];
                document.getElementById("best-route").innerHTML = legData.distance.text;
                document.getElementById("duration").innerHTML = legData.duration.text;
            } 
        }
               
    }

    async function geoLocationInit(position) {
        const { Map } = await google.maps.importLibrary("maps");
        const { DirectionsService } = await google.maps.importLibrary("routes");
        const { DirectionsRenderer } = await google.maps.importLibrary("routes");
        const iconBase = "https://maps.google.com/mapfiles/kml/shapes/";
        const busIcon = iconBase + "bus_maps.png";
        let directionsService = new DirectionsService();
        let directionsRenderer = new DirectionsRenderer();
        var current;
        if (position == null) {
            current = new google.maps.LatLng(35.30715560913086, -80.73516082763672);
        } else {
            current = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        }
        let mapOptions = {
            zoom:10,
            center: current
        }
        map = new Map(document.getElementById('google-map-container'), mapOptions);

        // Bus stop markers
        var busData = {{ busData | tojson | safe }}
        for(var i = 0; i < busData.length; i++){
            var title = (busData[i][0]).toString();
            var latLng = {
                lat: parseFloat(busData[i][1]),
                lng: parseFloat(busData[i][2]),
            };

            var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                icon: busIcon,
                title: title

            });
        }


        const onChangeHandler = function () {
            calculateRoute(directionsService, directionsRenderer, position);
        }

        document.getElementById("class-selector").addEventListener("change", onChangeHandler);
        document.getElementById("travel-mode-selector").addEventListener("change", onChangeHandler);

        directionsRenderer.setMap(map);
    }

    function staticLocationInit() {
        console.log("Geolocation is not active in browser");
        geoLocationInit(null);
    }

    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(geoLocationInit, staticLocationInit);
            return;
        }
        geoLocationInit(null);
    }
    
    window.onload = initMap;

    function goHome() {
        window.location.href="/home";
    }
</script>

{% include "footer.html" %}

{% endblock %}