<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>EZPark</title>
</head>
<body>
    <div class="ezpark-container">
        <h1 class="ezpark-container-header">EZPark</h1>
        <div class="ezpark-container-header-buttons">
            <button class="settings"><i class="fa fa-gear"></i></button>
            <button class="profile"><i class="fa fa-user-circle"></i></button>
        </div>
    </div>
    {% block content %}{% endblock %}         
    
</body>
</html>