{% extends "layout.html" %}

{% block content %}

{% include "header.html" %}

<div class="login-header-div">
    <h2 class="login-header">Login using your UNCC credentials</h2>
    <div id="google-signin-btn"></div>
</div>

<script>
    window.onload = function () {
        google.accounts.id.initialize({
            client_id: '1031925357556-g9tr3am18n1vg8ce88svenjgj82onrvt',
            hd: "uncc.edu",
            ux_mode: "redirect",
            login_uri: "https://localhost:8080/home"
        });
        const parent = document.getElementById('google-signin-btn');
        google.accounts.id.renderButton(parent, {
            theme: "filled_blue",
            size: "large",
            width: "300"
        });
    };
</script>

{% include "footer.html" %}

{% endblock %}