<<<<<<< HEAD

.AddFavorite-header {
    margin: 10px;
}

.header {
    color: #C9E03C;
    text-align: center;
    margin: 0;
}

.label-header {
    color: #C9E03C;
    text-shadow: black;
}

.addfavorite-container {
    width: 75%;
    margin: 0 auto;
}

.location-container {
    width: 75%;
    margin: 0 auto;
}

#label-list {
    width: 100%;
}

.submit-addfavorite button {
    margin-top: 2rem;
=======
.add-favorite-btn {
    background: white;
    border: none;
    border-radius: 50%;
    padding: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-plus {
    color: #4CAF50;
    font-size: 1.5em;
}
.favorites-list {
    list-style: none;
    padding-left: 0;
}

.favorite-item {
    background: white;
    margin: 0.5em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.favorite-item .percentage {
    background: #ddd;
    border-radius: 5px;
    padding: 3px 10px;
    margin-left: 10px;
}

.delete-favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.fa-trash {
    color: red;
}

@media (max-width: 768px) {
    .favorites-header h1 {
        font-size: 1.2em;
    }

    .favorite-item .percentage {
        padding: 2px 7px;
    }
>>>>>>> c30b1e910c863f2818ed871c6e88e2487183b5ac
}
