.favorite-header {
    margin: 10px;
}

.header {
    color: #C9E03C;
    text-align: center;
    margin: 0;
}

.label-header {
    color: #C9E03C;
    text-shadow: black;
}

.fa-plus {
    color: #4CAF50;
    font-size: 1.5em;
}

.favorites-list {
    list-style: none;
    padding-left: 0;
}

.favorite-item {
    background: white;
    margin: 0.5em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.favorite-item .percentage {
    background: #ddd;
    border-radius: 5px;
    padding: 3px 10px;
    margin-left: 10px;
}

.delete-favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.fa-trash {
    color: red;
}

@media (max-width: 768px) {
    .favorites-header h1 {
        font-size: 1.2em;
    }

    .favorite-item .percentage {
        padding: 2px 7px;
    }
}
