.add-favorite-parking-header {
    margin: 10px;
}

.header {
    color: #C9E03C;
    text-align: center;
    margin: 0;
}

.label-header {
    color: #C9E03C;
    text-shadow: black;
}

.favorite-container {
    width: 75%;
    margin: 0 auto;
}

.location-container {
    margin-bottom: 30px;
}

#label-list {
    width: 100%;
    margin-block: 20px;
    font-size: large;
}

.submit-favorite button {
    margin-bottom: 20px;
}
