.alerts-container {
    width: 80%;
    margin: 50px auto;
    background-color: #1C732F;
    border-radius: 20px;
    padding: 20px;
}

.alerts-header {
    color: #C9E03C;
    margin-bottom: 30px;
    text-align: center;
}

#alerts-list {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#alerts-list th {
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #C9E03C;
}

#alerts-list .name-header {
    width: 50%;
}

#alerts-list .capacity-header {
    width: 50%;
    text-align: center;
}

#alerts-list tbody tr {
    border-bottom: 1px solid #C9E03C;
}

#alerts-list td {
    padding: 10px;
    color: white;
    text-align: left;
}

#alerts-list .capacity-body {
    text-align: center;
}
#alerts-list .name-body {
    text-align: center;
}
