
.favorites-header {
    margin: 10px;
}

.favorites-container {
    width: 75%;
    margin-inline: 100px;
    background-color: darkgreen;
    border-radius: 20px;
}

.favorites-list {
    padding-left: 20px;
    padding-right: 20px;
}

#favorites-list li {
    list-style-type: none;
}

#favorites-list {
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    margin-left: auto;
}

.add-favorite-button-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.add-favorite-button {
    justify-content: center;
}
