.favorites-header {
    margin: 10px;
}

.favorites-container {
    width: 75%;
    margin: 0 auto;
    background-color: #1C732F; /* Dark green background */
    border-radius: 20px;
    padding: 20px; /* Added padding for inner spacing */
}

#favorites-list {
    list-style-type: none; /* No bullets */
    padding: 0; /* Reset padding to remove browser defaults */
}

#favorites-list li {
    color: white; /* Text color */
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0e5c28; /* Add a bottom border to each item */
}

.delete-btn {
    background-color: #c0392b; /* Red background for delete button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer; /* Cursor to pointer on hover */
}

.add-favorites-button-container {
    text-align: center;
    margin-top: 20px;
}

.add-favorites-button {
    background-color: #27ae60; /* Green background for add button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer; /* Cursor to pointer on hover */
    font-size: 16px;
}
