.feedback-header {
  margin: 10px;
}

.header {
  color: #C9E03C;
  text-align: center;
  margin: 0;
}

.feedback-container {
  text-align: center;
}

#feedback {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

#feedbackForm input[type="email"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

#feedbackForm input[type="button"] {
  padding: 5px 10px;
  background-color: #C9E03C;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#feedbackForm input[type="button"]:hover {
  background-color: #505a0f;
}