body {
    background: #074D16;
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

input, select {
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

.ezpark-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1C732F;
    color: #C9E03C;
}
.ezpark-container-header {
    cursor: pointer;
    margin-left: 20px;
}

.expark-container-header-buttons {
    display: flex;
}

.settings {
    background: none;
    border: none;
    font-size: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.profile, .profile:hover {
    background: none;
    border: none;
    font-size: 40px;
    color: black;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ezpark-footer {
    background-color: #1C732F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: auto;
    margin-bottom: 0;
}

.ezpark-footer-buttons {
    display: block;
    justify-content: space-between;
    width: 100%;
}

.ezpark-footer-buttons button {
    border-radius: 20px;
    border: 1px solid #000;
    background: #C9E03C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 115px;
    height: 46px;
    flex-shrink: 0;
    text-align: center;
    text-decoration: none;
    font-size: larger;
    font-family: Tahoma, sans-serif;
}
.deck-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 50%;
    margin-bottom: 50%;
    flex: 1;
}

.deck-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 300px;
    padding: 10px;
    width: 100%;
}

.deck-item {
    background-color: white;
    border: 1px solid black;
    margin: 0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.home-page-div {
    width: 80%;
    max-width: 400px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin: 2rem auto;
    background-color: #1C732F;
}

.home-btn-container {
    width: 80%; 
    margin: auto;
    max-width: 300px;
}

.home-btn-container > div {
    background-color: #C9E03C;
    margin: 1rem 0;
    border-radius: 20px;
    padding: 2rem;
}

.home-btn-container > div a {
    color: #1C732F;
    font-size: 2rem;
    text-decoration: none;
}

.home-btn-container > div a:hover {
    text-decoration: underline;
}

.feedback-btn > a { 
    color: #FFFFFF;
    font-size: 1rem;
    text-decoration: none;
}

.feedback-btn > a:hover {
    text-decoration: underline;
}

#google-signin-btn {
    margin: 2rem auto;
    display: inline-block;
}

.login-header-div {
    margin: auto;
    width: 80%;
    text-align: center;
}

.login-header {
    color: #C9E03C;
    margin: auto;
    text-align: center;
}

.logout {
    float: right;
}

.back:hover,.about:hover, .logout:hover {
    cursor: pointer;
}
.parking-container {
    margin: 2rem auto;
}

.parking-decks-container {
    list-style-type: none;
    padding: 0;
}

.parking-decks-container .parking-deck {
    color: #C9E03C;
    border-bottom: 1px solid #c9e03c;
    display: block;
    clear: both;
    height: 30px;
}

.parking-decks-container .parking-deck span {
    display: inline-block;
    padding: 5px 2rem;
}

.parking-decks-container .parking-deck .name {
    float: left;
}

.parking-decks-container .parking-deck .percent {
    float: right;
}

.parking-decks-container .parking-deck .percent.regular {
    color: #C9E03C;
}

.parking-decks-container .parking-deck .percent.alert {
    color: #fe2626;
}

#google-map-container {
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 90%;
}
.route-selection-container {
    display: block;
    position: relative;
    padding: 1rem;
    color: #C9E03C;
    margin: auto;
    width: 90%;
}

.route-selection-container .route-class-container {
    margin-right: 10%;
}

.route-selection-container .route-class-container, .travel-mode-container {
    width: 45%;
    float: left;
}
.route-selection-container .route-class-container label, .travel-mode-container label {
    width: 100%;
    display: block;
    margin-bottom: .5rem;
}
.route-selection-container .route-class-container select, .travel-mode-container select {
    width: 100%;
    display: block;
    height: 2rem;
    font-size: 20px;
}

#hidden-lot-select {
    visibility: hidden;
}

.route-selection-container .calculation-container {
    margin: 1rem 0 0;
    width: 50%;
    display: inline-block;
}

#saved-data-indicator {
    color:#e7e95c;
    visibility: hidden;
    text-align: center;
    margin: 0;
}

.add-data-btn {
    font-size: 25px;
    height: 40px;
    padding: 0 1em;
    font-weight: bold;
    background-color: transparent;
    color:#e7e95c;
    border: 2px solid #e7e95c;
    border-radius: 20px;
    cursor: pointer;
}

.add-data-btn .fa-plus {
    color:#e7e95c;
    font-size: 30px;
    padding-left: 1rem;
}

.save-data-btn {
    font-size: 25px;
    height: 40px;
    padding: 0 1em;
    font-weight: bold;
    color: white;
    background-color: #e7e95c;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.save-data-btn:disabled {
    background-color: #3d3c3c;
    cursor: not-allowed;
}

.fa-trash {
    color: #f59191;
    font-size: 20px;
    cursor: pointer;
}